name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
#  IMAGE_NAME: ${{ secrets.DOCKER_HUB_REPOSITORY }}
   IMAGE_NAME: ${{ github.repository }}
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            MAINTAINER=${{ github.repository_owner }}
            BRANCH=${{ github.ref_name }}
            SOURCE_COMMIT=${{ github.sha }}
          context: .
          platforms: |
            linux/amd64
            linux/arm64
          file: ./Dockerfile
          tags: ghcr.io/${{ env.IMAGE_NAME }}
          push: true
